@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>


<p>Приложение анализа игровой статистики теннисных матчей предназначено для теннисных аналитиков и любителей тенниса.</p>
<style>    h2 {
        color: white;
    }
    p{
        color: white;
    }

     
</style>
