@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>


<address>
    Шоссе Космонавтов д.120<br />
    г.Пермь<br />
    <abbr title="Телефон:">Тел:</abbr>
    +7(912)486-19-68
</address>

<address>
    <strong>Тех.поддержка:</strong>   <a href="mailto:Support@example.com">ndkirillov@edu.hse.ru</a><br />
</address>
<style>
    address {
        color: white;
    }
    h2{
        color: white
    }
    footer{
        color: white;
    }
    a{
        color: white;
    }
    a:hover{
        text-decoration:none;
        color:gray;
    }
    </style>